/node_modules
/public/hot
/public/storage
/public/uploads

# exception to the rule
!/public/uploads/nocamera.png
!/public/uploads/user.png
# end


/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
